name = "Polylogarithms"
uuid = "43cc4a2f-1a2b-4fbb-87e3-95c794af13de"
authors = ["Matthew Roughan <matthew.roughan@adelaide.edu.au> and contributors"]
version = "0.1.0"

[deps]
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
